body {
    background-color: #faf9f9;
}

.header {
    margin-bottom: 50px;
}

.container {
    max-width: 1233px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    padding-top: 30px;
}

.logo-container, 
.title-container, 
.nav-container {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.logo {
    max-width: 120px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.nav-container {
    justify-content: space-between;
}

.header__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 14px;
    color: #1b1b1b;
    text-transform: uppercase;
    line-height: 1.36;
}

.menu__item {
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    color: #1b1b1b;
    line-height: 1.25;
}

.menu__item:last-of-type{
    margin-bottom: 0;
}
    
.user-nav {
    display: flex;
    gap: 20px;
}

.menu__list a,
.user-nav__link {
    transition: 0.5s all ease-in-out;
}

.favourites,
.cart {
    max-width: 24px;
    width: 100%;
}

.favourites:hover,
.cart:hover,
.menu__list a:hover {
    opacity: 50%;
}

.top {
    margin-bottom: 100px;
    position: relative;
}

.swiper-slide-1{
    padding-top: 50px;
}

.top-slide-1__inner {
    height: 100vh;
    display: flex;
}

.parfum-container, 
.content-container,
.girl-container {
    width: 33%;
    display: flex;
    align-items: center;
}

.parfum__image-container {
    max-width: 183px;
    align-self: flex-end;
    margin-bottom: 187px;
}

.top-slide-1-parfum{
    width: 100%;
}

.girl-container {
    max-width: 387px;
}

.top-slide-1-girl {
    width: 100%;
}

.top-slide-1__content {
    align-self: flex-end;
    flex-basis: 16.5%;
    margin-bottom: 187px;
}

.top-slide-1__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 70px;
    color: #1b1b1b;
    text-transform: uppercase;
    line-height: 1.33;
    margin-bottom: 56px;
}

.top-slide-1__subtitle {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #1b1b1b;
    line-height: 1.2;
    margin-bottom: 10px;
}

.top-slide-1__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1b1b1b;
    line-height: 1.2;
    margin-bottom: 20px;
}

.top-slide__btn,
.discover__btn {
    padding: 21px 55px;
    background-color: rgba(217, 217, 217, 0);
    border: 1px solid #7449bb;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #7449bb;
    line-height: 1.2;
    text-transform: uppercase;
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}

.top-slide__btn:hover,
.discover__btn:hover {
    color: #fff;
    background-color: #7449bb;

}

.swiper-slide-1,
.swiper-slide-2, 
.swiper-slide-3 {
    overflow: hidden;
}

.swiper-slide-2, 
.swiper-slide-3 {
    padding-bottom: 50px;
}

.top-slide-2, 
.top-slide-3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top-slide-2__inner, 
.top-slide-3__inner {
    height: 100vh;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.swiper-button-prev:after, 
.swiper-button-next:after {
    content: none;
    display: none;
}


.container-arrow .swiper-button-prev {
    position: absolute;
    top: 0;
    top: 100%;
    left: 0;
    width: 50px;
    pointer-events: all;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.container-arrow .swiper-button-next {
    position: absolute;
    top: 0;
    top: 100%;
    left: 70px;
    width: 50px;
    pointer-events: all;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.swiper-button-prev:hover, 
.swiper-button-next:hover,
.triger__arrow:hover,
.swiper-button-prev-2:hover,
.swiper-button-next-2:hover {
    opacity: 50%;
}

.about-inner {
    display: flex;
}

.about-text {
    display: flex;
    width: 33%;
    margin-left: 16.5%;
}

.about {
    color:  #1b1b1b;
}

.about-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.34;
    max-width: 50%;
    margin-bottom: 20px;
}

.text-1-container p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    max-width: 387px;
    letter-spacing: 0.5px;

}

.text-2-container{
    align-self: flex-end;
}

.text-2-container p{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    max-width: 387px;
    letter-spacing: 0.5px;
}

.about-text p + p {
    margin-top: 20px;
}


.discover__slider {
    overflow: hidden;
}

.slider__container {
    margin-left: 16.5%;
}

.discover__slider 
swiper-slide {
    width: 33%;
}
.container-arrow-2 {
    position: relative;
    height: 20px;
}

.swiper-button-prev-2,
.swiper-button-next-2 {
    position: absolute;
    top: -10px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
}

.swiper-button-prev-2 {
    left: 0;
}

.swiper-button-next-2 {
    left: 71px;
}

.swiper-slide {
    transition: 1s all ease-in-out;
}

.discover__slider 
h4 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.25;
    color: #000;
    margin-bottom: 20px;
}

.discover__btn {
    margin-left: 16.5%;
    margin-right: 49.5%;
    width: 33%;
}

.accordeon__inner {
    display: flex;
}

.accordeon__margin-left,
.video__margin-left {
    width: 16.5%;
    display: inline-block;
}

.margin {
    min-height: 150px;
}

.accordeon__items {
    width: 82.5%;
    display: inline-block;
}

.accordeon__item {
    border-bottom: 1px solid #000;
}

.accordeon__triger {
    display: flex;
    cursor: pointer;
    padding: 50px 0 20px;
}

.accordeon__triger-1{
    padding-top: 0;
}

.triger__content {
    display: flex;
    align-items: flex-start;
}
.triger__content-1 {
    width: 40%;
    justify-content: flex-start;
}

.triger__content-2 {
    width: 20%;
    justify-content: center;
}

.triger__title {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.triger__text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000;
}

.triger__img {
    max-height: 50px;
}

.triger__arrow {
    height: 100%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.accordeon__content {
    padding: 15px 0;
    display: none;
}

.accordeon__item--active 
.accordeon__content {
    display: block;
    margin-left: 40%;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000;
}

.accordeon__image {
    min-height: 73px;
    position: relative;
}

.accordeon__image-container {
    max-width: 65px;
    position: absolute;
    bottom: 0;
    left: 25%;
}

.accordeon-img {
    width: 100%;
}

.what-else {
    min-height: 634px;
    overflow: hidden;
}

.what-else__inner {
    position: relative;
}

.what-else__content {
    max-width: 16.5%;
}

.what-else__title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.34;
    text-transform: uppercase;
    color: #000;
    text-align: left;
    max-width: 96px;
    width: 100%;
}

.what-else__items {
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 16.5%;
    display: flex;
    text-align: center;
}

.what-else__item {
    max-width: 33%;
    margin-right: 20px;
}

.what-else__item:last-of-type {
    margin-right: 0;
}

.product__ritual {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.product__image {
    max-width: 386px;
    margin-bottom: 20px;
}

.product__img {
    width: 100%;
}

.product__title {
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.21;
    color: #000;
}

.product__type {
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #000;
}

.product__price {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.34;
    text-transform: uppercase;
    color: #000;
}

.video__margin-left {
    display: inline-block; 
    width: 16.5%; 
}

.video__content {
    display: inline-block; 
    width: 82.5%;
    background-image: url(../images/video/video__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.video__btn-container {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__btn, 
.footer__form-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.video__btn:hover,
.footer__form-btn:hover {
    opacity: 50%;
}

.video__btn-img {
    max-width: 100px;
    width: 100%;
}

.footer {
    background: #c4a9cd;
}

.footer__inner {
    padding-top: 66px;
    padding-bottom: 102px;
}

.footer__content {
    margin-bottom: 70px;
    display: flex;
}

.footer__logo-container{
    width: 16.5%;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer__logo-link {
    transition: all 0.3s ease-in-out;
}

.footer__image {
    width: 33%;
}

.footer__img-container {
    max-width: 337px;
}

.footer__img {
    width: 100%;
}

.footer__menu {
    width: 33%;
}

.footer__menu-block {
    margin-bottom: 70px;
}

.footer__menu-block:last-of-type {
    margin-bottom: 0;
}

label,
input {
    display: inline-block;
}

.footer__menu-form {
    position: relative;
}

.footer__form-label {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer__form-input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.footer__form-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.4);
    padding: 0;
}

.footer__form-btn {
    display: inline;
    position: absolute;
    bottom: 7px;
    right: -5px;
    background: transparent;
    border: none;
}

.footer__btn-img {
    max-width: 50px;
    width: 100%;
}

.footer__menu-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    line-height: 1.21;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__menu-item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 1.21;
    margin-bottom: 10px;
}

.footer__menu-item:last-of-type {
    margin-bottom: 0;
}

.footer__menu-link {
    transition: all 0.3s ease-in-out;
}

.footer__sm-links {
    width: 16.5%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__sm-item {
    margin-bottom: 20px;
}

.footer__sm-item:last-of-type {
    margin-bottom: 0;
}

.footer__sm-link {
    transition: all 0.3s ease-in-out;
}

.footer__sm-link-img {
    max-width: 24px;
    width: 100%;
}

.footer__nav {
    margin-left: 16.5%;
    width: 82.5%;
}

.footer__nav-list {
    display: flex;
}

.footer__nav-link {
    transition: all 0.3s ease-in-out;
}

.footer__nav-item {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    line-height: 1.21;
    margin-right: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

a:hover {
    opacity: 60%;
}


@media (max-width: 1400px) {
.what-else__items {
    max-width: 950px;
}
.what-else {
    min-height: 550px;
}
}

@media (max-width: 1200px) {
.header__title {
    max-width: 150px;
}


.what-else__items {
    max-width: 850px;
}

.what-else {
    min-height: 492px;
}

.footer__img {
    width: 75%;
}
}

@media (max-width: 1200px) {

}

@media (max-width: 950px) {
.user-nav {
    flex-direction: column;
}

.top-slide-1__title {
    font-size: 50px;
}
.what-else__items {
    max-width: 700px;
}

.product__ritual {
    max-width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.footer__image, 
.discover,
.discover + .margin {
    display: none;
}
.footer__logo-container,
.footer__sm-links {
    width: 33%;
}

.what-else {
    min-height: 447px;
}
}


@media (max-width: 768px) {
.title-container,
.girl-container,
.swiper-slide-2,
.swiper-slide-3,
.container-arrow 
{
    display: none;
}

.logo-container,
.nav-container,
.parfum-container,
.content-container {
    width: 50%;
}


.parfum__image-container,
.top-slide-1__content {
    margin-bottom: 0;
    align-self: center;
}

.about-title {
    font-size: 25px;
}

.triger__title {
    font-size: 18px;
}
.what-else, 
.video {
    display: none;
}

.what-else + .margin,
.video + .margin {
    display: none;
}

.footer__nav-list {
    flex-wrap: wrap;
}

.footer__nav-item {
    margin-bottom: 15px;
    max-width: 140px;
}
}